*{margin:0;border:0;padding:0;font-family: 'Open Sans', sans-serif;}

body{background-color: #d3d3d3;color: #fff;font-size: 14px;letter-spacing: 1px;}

.title{width:100%;text-align:center;margin-top:60px;font-size:40px;letter-spacing:2px;text-shadow:0px 1px 15px rgba(0,0,0,0.5);color:#eee;}

.login {position: relative;height: auto;width:100%;margin: 30px 0;padding:30px;background: #555; box-shadow: 0px 15px 60px -5px rgba(0,0,0,0.4);border-radius:2px;}

form {padding-top: 45px;}

.active {border-bottom: 1px solid #fff;}

h2 {padding-left: 5px;font-size: 22px;text-transform: uppercase;padding-bottom: 5px;letter-spacing: 2px;display: inline-block;font-weight: 100;color:#fff;}

h2:first-child {padding-left: 0px;}

span {text-transform: uppercase;font-size: 12px;opacity: 0.4; display: inline-block;position: relative;top: -65px;transition: all 0.5s ease-in-out;color:#fff;}

.text {border: none;width: 100%;padding: 0 20px;display: block;height: 32px;border-radius: 20px;background: rgba(255, 255, 255, 0.1);border: 2px solid rgba(255, 255, 255, 0);overflow: hidden;margin-top: 15px;transition: all 0.5s ease-in-out;box-shadow:0px 1px 4px rgba(0,0,0,0.25);}

.text:focus {outline: 0;border: 2px solid rgba(255, 255, 255, 0.5);border-radius: 20px;background: rgba(0, 0, 0, 0);}

.text:focus + span {opacity: 0.6;}

input[type="text"],input[type="password"] {color: #fff;}

input {display: inline-block;margin-top: 15px;font-size: 14px;}

.signin {background: #ee0979;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);background: linear-gradient(to right, #ff6a00, #ee0979);color: #FFF;width: 100%;padding: 10px 20px;display: block;height: 39px;border-radius: 20px;margin-top: 15px;transition: all 0.5s ease-in-out;border: none;text-transform: uppercase;box-shadow:0px 1px 4px rgba(0,0,0,0.25);}

.signin:hover {box-shadow: 0px 4px 20px -5px #000;cursor: pointer;}

.signin:focus {outline: none;}

hr {border: 1px solid rgba(255, 255, 255, 0.1);top: 85px;position: relative;}